server {
    listen       80;
    server_name  localhost;

    access_log /var/log/nginx/{{ lighthouse.logs }}_access_log;
    error_log /var/log/nginx/{{ lighthouse.logs }}_error_log;

    location / {
        root   {{ lighthouse.dir }};
        index   index.html;
    }
}